.header {
    margin: -8px -8px 0px;
    background: linear-gradient(blue, skyblue);
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    width: 100%
}

.left {
    width: 15%;
    float: left;
    padding: 5px;
}

.body {
    width: 35%;
    float: left;
    background-color: pink;
    padding: 5px;
}

.three {
    width: 30%;
    float: left;
    background-color: #ba78ff;
    padding: 5px;
}

.right {
    width: 15%;
    float: left;
    padding: 5px;
}

.RegistrationForm {
    background-color: aqua;
}
.FetchingResult{
    background-color: darkgoldenrod;
}

h1 {
    text-align: center;
    color: blue;
}

.footer {
    margin: -8px;
    clear: both;
    background: linear-gradient(blue, skyblue);
    color: white;
    text-align: center;
    padding: 10px;
}